<div class="container">
  <h1 style="opacity:0.5">Profile</h1>
  <%= form_for @student do |f| %>
    <form class="needs-validation container">
      <div class="form-row">
        <div class="col-lg-6 col-md-4 mb-3">
          <!-- <label for="validationCustom01">First name</label>-->
          <%= f.label :f_name ,"first name",for:"validationCustom01" %>
          <%= f.text_field :f_name,class:"form-control" ,id:"validationCustom01" ,placeholder:"First name" %>
          <!--        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>-->
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-6 col-md-4 mb-3">
          <label for="validationCustom02">Last name</label>
          <%= f.text_field :l_name ,class:"form-control", id:"validationCustom02", placeholder:"Last name" %>
          <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-6 col-md-4 mb-3">
          <label for="validationCustomUsername">GitHub Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <%= f.text_field :github_user, class:"form-control", id:"validationCustomUsername", placeholder:"GitHub" %>
            <!--        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>-->
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-3">
          <label for="validationCustom02">Image</label>
          <div class="input-group">
            <%= f.file_field :img, class:"custom-file-label form-control", id:"validationCustom02" %>
            <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-6 col-md-4 mb-3">
          <label for="validationCustom03">Gender</label>
          <div class="input-group">
            <div class="form-check">
              <%= f.radio_button :gender,'male' %>
              <%#= radio_button_tag 'gender','male',@gender == 'male',true %>

              <%#= f.radio_button :gender,name:"student[gender]", id:"student[gender]", value:"male" %>
              <!--            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="male" checked>-->
              <label class="form-check-label" for="exampleRadios1">
                Male
              </label>
            </div>
            <div class="form-check">
              <%= f.radio_button :gender,'female' %>

              <%#= radio_button_tag 'gender','female',@gender == 'female' %>
              <%#= radio_button_tag 'student[gender]', c.name, "yes" %>
              <%#= f.radio_button :gender,name:"student[gender]", id:"student[gender]", value:"female" %>
              <!--            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="female" checked>-->
              <label class="form-check-label" for="exampleRadios1">
                Female
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 mb-3">
          <label for="validationCustom02">Mobile</label>
          <%= f.telephone_field :mobile,class:"form-control" , placeholder:"05XXXXXXX",id:"example-tel-input" %>
          <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-6 col-md-4 mb-3">
          <label for="validationCustom02">Linkedin</label>
          <%= f.text_field :linkedin,class:"form-control", id:"validationCustom02", placeholder:"Linkedin"  %>
          <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
          <div class="valid-feedback">
            Looks good!
            </div>
            </div>
    
            <div class="col-lg-6 col-md-6 mb-3">
            <label for="validationCustom02">Twitter</label>
            <%= f.text_field :twitter ,class:"form-control", id:"validationCustom02", placeholder:"Twitter" %>
            <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
            <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <label for="validationCustom02">Bio</label>
          <%= f.text_area :bio,class:"form-control", id:"validationCustom02", placeholder:"Bio" %>
          <!--        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>-->
          <div class="valid-feedback">
            Looks good!
<<<<<<< HEAD
            </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3">
                 <% i=0 %>
                 <% Course.all.each do |c|%>
                <div class=" custom-checkbox">
                    <%if c.students.find_by(id:params[:id])%>
                                      <%= check_box_tag 'courses['+i.to_s+']', c.name, "yes" %>
                    <%else%>
                                      <%= check_box_tag 'courses['+i.to_s+']', c.name %>
                    <% end%>
                      <% i=i+1%>
                    <%= c.name %>
                      <br>
                   
                      <% end %>
                  
<!--                <input type="checkbox" class="custom-control-input" id="customCheck1">-->
<!--                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>-->
                </div>
                     
                     
                    
                    
                      
            </div>
</div>
    
<!--  <button class="btn btn-primary" type="submit">Submit form</button>-->

  <button class="btn btn-secondary btn-lg"><%=  f.submit%></button>
=======
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <% i=0 %>
          <% Course.all.each do |c|%>
            <div class=" custom-checkbox">
              <%if c.students.find_by(id:params[:id])%>
                <%= check_box_tag 'courses['+i.to_s+']', c.name, "yes" %>
              <%else%>
                <%= check_box_tag 'courses['+i.to_s+']', c.name %>
              <% end%>
              <% i=i+1%>
              <%= c.name %>
              <br>
            <% end %>
            <!--                <input type="checkbox" class="custom-control-input" id="customCheck1">-->
            <!--                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>-->
          </div>
        </div>
      </div>
      <!--  <button class="btn btn-primary" type="submit">Submit form</button>-->
      <%= f.submit %>
>>>>>>> a7525c5c663f725b3c1f87c588d4878c56fe505a
    </form>
  <% end %>
</div>
<!-- 
<%# form_for @student do |f| %>
  <p>
    <%# f.label :f_name ,"first name" %>
    <%# f.text_field :f_name %>
  </p>
  <p>

  <%# f.label :l_name ,"last name"%>
  <%# f.text_field :l_name %>
  </p>
  <p>

  <%# f.label :gender %>
  <%# f.text_field :gender %>
  </p>
  <p>

  <%# f.label :email %>
  <%# f.text_field :email %>
  </p>
  <p>

  <%# f.label :mobile %>
  <%# f.text_field :mobile %>
  </p>
  <p>

  <%# f.label :linkedin %>
  <%# f.text_field :linkedin %>
  </p>
  <p>

  <%# f.label :github_user %>
  <%# f.text_field :github_user %>
  </p>
  <p>

  <%# f.label :twitter %>
  <%# f.text_field :twitter %>
  </p>
  <p>

  <%# f.label :img %>
  <%# f.text_field :img %>
  </p>
  <p>

  <%# f.label :bio %>
  <%# f.text_field :bio %>
  </p>

  <%# f.submit %>
<%# end %>
-->
