<h2><%= @student.f_name %>  <%=@student.l_name %></h2>
<p>gender: <%= @student.gender  %></p>
<p>email: <%= @student.email  %></p>
<p>mobile: <%= @student.mobile  %></p>
<p>linkedin: <%= @student.linkedin  %></p>
<p>github_user: <%= @student.gender  %></p>
<p>twitter: <%= @student.twitter  %></p>
<p><img src="<%= @student.img  %>" alt=""> </p>
<p>bio: <%= @student.bio  %></p>
