<h1 class="margin_top"></h1>
<h3>Project: <%=@project.name%></h3>
<p>Project URL: <%=@project.url%></p>
<p>Description: <%=@project.description%></p>
<p>Project was developed by: <%=@project.language%></p>
<% if user_signed_in? %>
 <% if current_user.admin %>
  <%= link_to 'Edit this Project', edit_project_path %>
  <%= link_to "Delete this Project", project_path(@project), method: :delete %>
    <% end %>
<% else %>

<% end %>

<h4>List of contributors here and link them to there show pages</h4>
<% @project.students.each do |s|%>
<div>
<p><%=s.f_name+ " " +s.l_name%></p>
<%#= link_to(c.name, student_path(s))%>
</div>
<%end%>
<%#= link_to 'Add New Contributer', new_student_path %>

