<h1 class="margin_top"></h1>
<div class="container">
<!-- START the container-->

<div class="table-responsive panel">
<table class="table">
<tbody>
<tr>
  <td class="text-success"><i class="fa fa-user"></i> Project</td>
  <td><%=@project.name%></td>
</tr>

<tr>
  <td class="text-success"><i class="fa fa-user"></i> URl</td>
  <td><a href="<%=@project.url%>"><%=@project.url%></a></td>
</tr>

<tr>
  <td class="text-success"><i class="fa fa-user"></i> Description</td>
  <td><%=@project.description%></td>
</tr>

<tr>
  <td class="text-success"><i class="fa fa-user"></i> Project was developed by</td>
  <td><%=@project.language%></td>
</tr>

</tbody>
</table>
</div>



<h4>List of contributors here and link them to there show pages</h4>
<% @project.students.each do |s|%>
<div>
<p><%=s.f_name+ " " +s.l_name%></p>
<%#= link_to(c.name, student_path(s))%>
</div>
<%end%>
<%#= link_to 'Add New Contributer', new_student_path %>

